[submodule "home/fonts"]
	path = home/fonts
	url = https://github.com/joshua/fonts.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/custom/themes/powerlevel9k"]
	path = zsh/custom/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "zsh/custom/plugins/k"]
	path = zsh/custom/plugins/k
	url = git@github.com:supercrabtree/k.git
[submodule "zsh/custom/plugins/flamegraph/FlameGraph"]
	path = zsh/custom/plugins/flamegraph/FlameGraph
	url = https://github.com/brendangregg/FlameGraph.git
