[project]
	description = conceitedly assertive and dogmatic dotfiles
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Joshua Suggs (joshua)
[access "refs/for/refs/*"]
	read = group user/Joshua Suggs (joshua)
	push = group user/Joshua Suggs (joshua)
	label-Code-Review = -2..+2 group user/Joshua Suggs (joshua)
	label-Verified = -1..+1 group user/Joshua Suggs (joshua)
	rebase = group user/Joshua Suggs (joshua)
	removeReviewer = group user/Joshua Suggs (joshua)
	submit = group user/Joshua Suggs (joshua)
[access "refs/heads/*"]
	read = group user/Joshua Suggs (joshua)
	create = group user/Joshua Suggs (joshua)
	push = +force group user/Joshua Suggs (joshua)
	pushMerge = group user/Joshua Suggs (joshua)
[access "refs/tags/*"]
	push = group user/Joshua Suggs (joshua)
	push = +force group user/Joshua Suggs (joshua)
