"*":
  "activate-power-mode":
    particles:
      colours:
        type: "random"
      size: {}
      spawnCount: {}
      totalCount: {}
    screenShake: {}
  "advanced-new-file":
    createFileInstantly: true
    suggestCurrentFilePath: true
  "advanced-open-file":
    createFileInstantly: true
  "apathy-theme": {}
  "atom-cfn-lint":
    cfnLintExecutablePath: "/usr/local/bin/cfn-lint"
  "atom-clock":
    dateFormat: " hh:mm"
    showClockIcon: true
  "atom-env-for-project":
    envFile: ".atom/env"
    showNotificationOnError: true
  "atom-ide-ui":
    "atom-ide-datatip":
      onlyTopDatatip: true
    "atom-ide-diagnostics-ui":
      autoVisibility: true
      showDiagnosticTraces: true
      useExperimentalUi: true
    "atom-ide-terminal":
      cursorBlink: true
    hyperclick: {}
    use:
      "atom-ide-outline-view": "always"
      "atom-ide-terminal": "always"
  "atom-material-ui":
    colors:
      accentColor: "#af0010"
      genAccent: true
    depth: true
    fonts: {}
    panelContrast: true
    tabs:
      compactTabs: true
      stretchedTabs: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
  "atom-package-deps":
    ignored: []
  "autocomplete-go":
    snippetMode: "nameAndType"
  "autocomplete-plus": {}
  "block-cursor":
    global:
      blinkOn:
        backgroundColor:
          alpha: 0
          blue: 252
          green: 186
          red: 128
        borderColor:
          alpha: 1
          blue: 255
          green: 134
          red: 79
        borderStyle: "bordered-box"
  build:
    beepWhenDone: true
    notificationOnRefresh: true
    overrideThemeColors: false
    refreshOnShowTargetList: true
  "build-make": {}
  "clear-night-ui":
    layoutMode: "Compact"
  clock:
    icon: true
  core:
    disabledPackages: [
      "atom-lint"
      "autocomplete-plus-async"
      "git-tab-status"
      "visual-bell"
      "autocomplete-go"
      "godoc"
      "gometalinter-linter"
      "linter-gcc"
      "go-outline"
      "minimap-cursorline"
      "minimap-linter"
      "minimap-selection"
      "minimap-find-and-replace"
      "minimap-highlight-selected"
      "minimap"
      "minimap-bookmarks"
      "minimap-codeglance"
      "suggs"
      "linter-golinter"
      "city-lights-icons"
      "clock"
      "dash"
      "git-time-machine"
      "pigments"
      "linter-lua"
      "editor-stats"
      "vim-modeline"
      "language-thrift"
      "language-puppet"
      "language-pegjs"
      "language-erlang"
      "language-batch"
      "one-vibrancy"
      "platformio-ide-terminal"
      "linter-jenkins"
      "teletype"
      "local-settings"
      "linter-ui-touchbar"
      "atom-cfn-lint"
      "blame"
      "linter"
    ]
    packagesWithKeymapsDisabled: [
      "sort-lines"
    ]
    telemetryConsent: "no"
    themes: [
      "pristine-ui"
      "atom-darkbox-syntax"
    ]
    titleBar: "custom"
    uriHandlerRegistration: "always"
    warnOnLargeFileLimit: 20
  editor:
    fontFamily: "SFMono Nerd Font"
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "editor-background":
    blurRadius: 0
    image:
      backgroundSize: "cover"
    imageURL: ""
    text: {}
    video: {}
  "exception-reporting":
    userId: "96122188-4f4f-45d5-ba0b-7074cf231b39"
  expose:
    useAnimations: false
  "file-types":
    hosts$: "source.shell"
    tmpl: "source.go"
  filesize:
    KibibyteRepresentation: false
  "find-and-replace":
    projectSearchResultsPaneSplitDirection: "right"
  "go-config":
    gopath: "~/src/go"
  "go-debug":
    dlvPath: "/usr/local/bin/dlv"
    panelInitialVisible: true
  "go-find-references":
    path: "/Users/josh/src/go/bin/go-find-references"
  "go-oracle":
    goPath: "/Users/josh/src/go"
  "go-outline": {}
  "go-plus":
    autocomplete: {}
    config:
      additionalBuildArgs: "-v -x"
    currentPanelHeight: "12.872657580919933vh"
    currentPanelWidth: "26.2890625vw"
    devMode: false
    goInstallation: "/usr/local/bin/go"
    lint:
      args: [
        "--vendor"
        "--disable-all"
        "--enable=gocyclo"
        "--enable=vet"
        "--enable=vetshadow"
        "--enable=golint"
        "--enable=ineffassign"
        "--enable=goconst"
        "--enable=deadcode"
        "--disable=errcheck"
        "--enable=varcheck"
        "--enable=structcheck"
        "--enable=misspell"
        "--enable=interfacer"
        "--tests"
        "--json"
        "."
      ]
    lintOnSave: true
    panel:
      currentHeight: "19.41974730931212vh"
      currentWidth: "32.68229166666667vw"
      displayMode: "closed"
    panelDisplayMode: "closed"
    test:
      coverageDisplayMode: "gutter"
      coverageHighlightMode: "covered"
  "gometalinter-linter":
    args: [
      "--vendor"
      "--fast"
      "--json"
      "--disable=gotype"
      "--skip=proto"
      "./..."
    ]
  "highlight-line":
    enableBackgroundColor: false
    enableSelectionBorder: true
    hideHighlightOnSelect: true
  "highlight-selected":
    highlightBackground: true
    lightTheme: true
  "hyperlink-hyperclick": {}
  "ide-go":
    diagnosticsEnabled: true
  "isotope-ui":
    backgroundColor: "false"
    customBackgroundColorPicker: "#d5fef8"
    fontFamily: "Fira Sans"
    fontWeight: "Regular"
    minimalMode: true
  jenkins:
    url: "https://ci.ac.st"
  "jira-issue-search":
    jiraSearchUrl: "https://jira.acstechnologies.com"
  linter: {}
  "linter-cpplint":
    executablePath: "/usr/local/bin/cpplint"
  "linter-golinter":
    executablePath: "/Users/josh/src/go/bin/golint"
  "linter-luacheck": {}
  "linter-spell": {}
  "linter-ui-default":
    decorateOnTreeView: "Files and Directories"
    panelHeight: 300
    panelRepresents: "Entire Project"
    showProviderName: true
    statusBarPosition: "Right"
  "linter-ui-hinted":
    style: "background"
  "linter-write-good":
    additionalArgs: "--no-passive"
    severityLevel: "Warning"
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    autoToggle: false
    displayCodeHighlights: false
    plugins:
      bookmarks: false
      bookmarksDecorationsZIndex: 0
      codeglance: false
      codeglanceDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      selection: false
      selectionDecorationsZIndex: 0
    scrollAnimation: true
  "minimap-codeglance":
    numberOfLines: 15
  "nord-atom-ui":
    darkerFormFocusEffect: true
  "one-dark-mini-ui":
    tabSizing: "Even"
  "one-dark-ui":
    tabSizing: "Even"
  "one-light-ui": {}
  "one-vibrancy":
    effect: "auto-opaque"
  "open-recent":
    maxRecentDirectories: 20
    maxRecentFiles: 20
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "platformio-ide-terminal":
    ansiColors:
      normal:
        blue: "#92b2ca"
        cyan: "#9ac9c4"
        green: "#c2c77b"
        magenta: "#c0a7c8"
        red: "#d77c79"
        white: "#ffffff"
        yellow: "#f3cf87"
      zBright:
        brightBlue: "#92b2ca"
        brightCyan: "#9ac9c4"
        brightGreen: "#c2c77b"
        brightMagenta: "#c0a7c8"
        brightRed: "#d77c79"
        brightYellow: "#f3cf87"
    core: {}
    style:
      fontFamily: "SFMono Nerd Font"
      fontSize: "12"
    toggles:
      autoClose: true
  "pristine-ui": {}
  "project-view":
    displayPath: false
  "release-notes":
    viewedVersion: "0.95.0"
  "seti-syntax":
    themeColor: "Steel"
  "spell-check": {}
  "status-bar": {}
  tabs:
    alwaysShowTabBar: false
    enableVcsColoring: true
    usePreviewTabs: true
  "terminal-tab": {}
  "tester-go":
    coverageHighlightMode: "disabled"
  "tool-bar":
    fullWidth: false
    iconSize: "16px"
    visible: false
  "travis-ci-status": {}
  "tree-view": {}
  "vim-modeline":
    insertModelineType: "short"
  "visual-bell": {}
  welcome:
    showOnStartup: false
".basic.html.text":
  editor:
    scrollPastEnd: false
".go.source":
  editor:
    tabLength: 4
".json.source":
  editor:
    tabLength: 4
".source.yaml":
  editor:
    tabLength: 2
