packages: [
  "advanced-open-file"
  "apex-syntax"
  "ariake-dark-syntax"
  "atom-alignment"
  "atom-cform"
  "atom-cform-yaml"
  "atom-ide-ui"
  "atom-material-syntax"
  "atom-mermaid"
  "auto-indent"
  "autocomplete-clang"
  "autocomplete-emojis"
  "base16-eighties-one-dark"
  "blame"
  "busy-signal"
  "calculate"
  "city-lights-icons"
  "city-lights-syntax"
  "city-lights-ui"
  "clipboard-plus"
  "clock"
  "comment-headers"
  "dash"
  "duotone-dark-earth-syntax"
  "duotone-dark-forest-syntax"
  "duotone-dark-sea-syntax"
  "duotone-dark-sky-syntax"
  "duotone-dark-space-syntax"
  "duotone-dark-syntax"
  "editor-stats"
  "environment"
  "file-icons"
  "file-types"
  "filesize"
  "find-selection"
  "flatwhite-syntax"
  "flex-tool-bar"
  "git-tab-status"
  "git-time-machine"
  "github-atom-dark-syntax"
  "github-atom-light-syntax"
  "go-debug"
  "go-outline"
  "go-plus"
  "go-signature-statusbar"
  "hex"
  "hey-pane"
  "highlight-line"
  "highlight-selected"
  "hyperclick"
  "hyperlink-hyperclick"
  "ide-go"
  "intentions"
  "language-batch"
  "language-bazel"
  "language-docker"
  "language-erlang"
  "language-groovy"
  "language-hcl"
  "language-hosts"
  "language-ini"
  "language-liquid"
  "language-lua"
  "language-mermaid"
  "language-nginx"
  "language-pegjs"
  "language-powershell"
  "language-protobuf"
  "language-puppet"
  "language-terraform"
  "language-thrift"
  "language-x86"
  "linter"
  "linter-cpplint"
  "linter-gcc"
  "linter-golinter"
  "linter-haproxy"
  "linter-jsonlint"
  "linter-lua"
  "linter-luacheck"
  "linter-ui-default"
  "linter-write-good"
  "linter-xmllint"
  "minimap"
  "minimap-bookmarks"
  "minimap-codeglance"
  "minimap-cursorline"
  "minimap-find-and-replace"
  "minimap-highlight-selected"
  "minimap-linter"
  "minimap-selection"
  "nord-atom-syntax"
  "one-dark-vivid-syntax"
  "open-recent"
  "open-unsupported-files"
  "package-sync"
  "pigments"
  "platformio-ide-terminal"
  "pretty-json"
  "pristine-ui"
  "project-manager"
  "pure-syntax"
  "qolor"
  "rain-syntax"
  "rain-ui"
  "scroll-percentage"
  "sort-lines"
  "sorter"
  "suggs"
  "svg-preview"
  "tool-bar"
  "tool-bar-main"
  "travis-ci-status"
  "uuidgen"
  "vector-syntax"
  "vim-modeline"
  "visual-bell"
  "warn-before-quitting"
]
